<template name="header">
    <div class="ui center aligned {{isActive}} header-wrapper">
        <h1 class="huge center aligned main ui header">
            {{constant 'name'}}
        </h1>
        <div class="ui page grid">
            <div class="ui inverted center labeled aligned secondary pointing menu">
                <a href="lights" class="{{isActiveRoute 'lights'}} item"><i class="idea icon"></i> Lights</a>
                <a href="bridge" class="{{isActiveRoute 'bridge'}} item"><i class="wifi icon"></i>Bridges</a>
                <a class="item"><i class="browser icon"></i> Logs</a>
            </div>
        </div>
    </div>
</template>

