<template name="bridge">
    <div class="ui text container segment">
        <p>Bridge has ip <span class="ui label">{{bridge.ip}}</span> with username <span class="ui label">{{bridge.username}}</span></p>
        <form class="ui form">
            <div class="field">
                <label for="ip">ip</label>
                <input type="text" name="ip"/>
            </div>
            <div class="field">
                <label for="username">username</label>
                <input type="text" name="username"/>
            </div>
            <button class="ui button" type="submit">Update Bridge</button>
        </form>
    </div>
</template>
